@font-face {
  font-family: "GoogleSansRegular";
  src: url("fonts/GoogleSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "GoogleSansMedium";
  src: url("fonts/GoogleSans-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "GoogleSansBold";
  src: url("fonts/GoogleSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "GoogleSansItalic";
  src: url("fonts/GoogleSans-Italic.ttf") format('truetype');
}

@font-face {
  font-family: "GoogleSansBoldItalic";
  src: url("fonts/GoogleSans-BoldItalic.ttf") format('truetype');
}
